* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

:root {
  --dark-grey: #2c2c2c; /* Mørkegrå baggrund */
  --main-red: #bf3f3f; /* Primær rød skrift */
  --dark-red: #ff3e3e; /* Mørkere rød variant */
  --light-grey: #d9d9d9; /* Gråhvide tekster */
  --border-grey: #8c8c8c;
  --font-heading: "Futura Bold", sans-serif;
  --font-body: "Roboto", sans-serif;
}

/* Globale styles */
body {
  background-color: var(--dark-grey);
  color: var(--light-grey);
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
}

/* Hovedcontainer styling */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Typografi-styling */
h1,
h2,
h3 {
  font-family: var(--font-heading);
  color: var(--main-red);
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--light-grey);
  margin-bottom: 20px;
}

.button a {
  display: inline-block;
  background-color: var(--main-red);
  color: var(--light-grey);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.button a:hover {
  background-color: var(--dark-red);
}
